.new-tweet {
  border: 1px solid #ccc;
  background: #f3f3f3;
  padding: 0.85rem 1rem 1rem;
  border-radius: 4px;
  margin: 0 2em;

}
.new-tweet h2 {
  margin: 0 0 10px;
  color: #234750;
  border-bottom: 1px solid #000;
}
.new-tweet form:after {
  content: "";
  display: table;
  clear: both;
}
.new-tweet textarea{
  padding: 0.5em;
  display: block;
  width: 100%;
  margin: 0 0 10px;
}
.new-tweet textarea:focus {
  border-color: #00a087;
  outline: none;
}
.new-tweet [type="submit"] {
  padding: 0.5em 0.5em 0.35em;
  display: inline-block;
  border: 1px solid #747474;
  background: #e3e3e3;
  transition: 0.15s ease-in-out;
}
.new-tweet [type="submit"]:hover,
.new-tweet [type="submit"]:focus {
  background-color: #00a087;
  border-color: #00a087;
  color: #e8fdff;
}
.new-tweet .counter {
  float: right;
  padding-top: 0.5em;
}
.invalid-count {
  color: #cc0000;
}

.warning-message {
  background: #cc0000;
  color: #fff;
  padding: 0.5em;
  font-size: 1.08em;
  margin: 0.5rem 0;
}
/*------tweet article styling--------*/
#tweets-container {
  margin: 0 2em;
}
.tweet {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 1rem;
}
.tweet:hover {
  border-color: #949494;
}
.new-tweet form:after {
  content: "";
  display: table;
  clear: both;
}
.tweet header {
   background: #f3f3f3;
   padding: 1rem;
   border-radius : 4px 4px 0 0;
   display: flex;
   justify-content: space-between;

}
.tweet header img {
  display: inline-block;
  margin-right: 1rem;
  max-width: 50px;
  height: auto;
}
.tweet h1 {
  font-size: 2rem;
  color: #234750;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  margin-right: 0.625rem;
}
.tweet .tweet-handle {
  float: right;
  color: #555;
  margin: 9px 0 0;
}
.tweet main {
  font-size: 1.25em;
  min-height: 80px;
  padding: 1rem;
  display: flex;
  align-items: center;
}
.tweet footer {
  border-top: 1px solid #ccc;
  padding: 0.85rem 1rem;
}
.tweet .time {
  display: inline-block;
}
.tweet .icons {
  float: right;
}
.tweet .icons a {
  display: : inline-block;
  margin-right: 0.625rem;
}
.tweet .icons a:last-child {
  margin-right: 0;
}
.tweet .icons i {
  color: #fff;
  transition: 0.2s;
  font-size: 1.25em;
}
.tweet:hover .icons i{
  color: #00a087;
}
.tweet .icons a:hover i,
.tweet .icons a:focus i {
  color: #949494;
}